src/conf/xml-resources/web-service-references/practicaExamenServiceSOAP/wsdl/localhost_54747/practicaExamenSOAP-war/practicaExamenServiceSOAP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="encontrarJugadorPorID" type="tns:encontrarJugadorPorID"/>

<xs:element name="encontrarJugadorPorIDResponse" type="tns:encontrarJugadorPorIDResponse"/>

<xs:element name="encontrarJugadores" type="tns:encontrarJugadores"/>

<xs:element name="encontrarJugadoresResponse" type="tns:encontrarJugadoresResponse"/>

<xs:element name="encontrarMaximoIDJugador" type="tns:encontrarMaximoIDJugador"/>

<xs:element name="encontrarMaximoIDJugadorResponse" type="tns:encontrarMaximoIDJugadorResponse"/>

<xs:element name="player" type="tns:player"/>

<xs:element name="remove" type="tns:remove"/>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:player" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="player">
<xs:sequence>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="jerseynumber" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="lastspokenwords" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encontrarJugadores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="encontrarJugadoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:player" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encontrarMaximoIDJugador">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="encontrarMaximoIDJugadorResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:player" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:player" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encontrarJugadorPorID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="encontrarJugadorPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:player" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>