web/WEB-INF/wsdl/localhost_54747/practicaExamenSOAP-war/practicaExamenServiceSOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="practicaExamenServiceSOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:54747/practicaExamenSOAP-war/practicaExamenServiceSOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="encontrarJugadorPorID">
<part name="parameters" element="tns:encontrarJugadorPorID"/>
</message>
<message name="encontrarJugadorPorIDResponse">
<part name="parameters" element="tns:encontrarJugadorPorIDResponse"/>
</message>
<message name="encontrarJugadores">
<part name="parameters" element="tns:encontrarJugadores"/>
</message>
<message name="encontrarJugadoresResponse">
<part name="parameters" element="tns:encontrarJugadoresResponse"/>
</message>
<message name="encontrarMaximoIDJugador">
<part name="parameters" element="tns:encontrarMaximoIDJugador"/>
</message>
<message name="encontrarMaximoIDJugadorResponse">
<part name="parameters" element="tns:encontrarMaximoIDJugadorResponse"/>
</message>
<portType name="practicaExamenServiceSOAP">
<operation name="remove">
<input wsam:Action="http://service/practicaExamenServiceSOAP/remove" message="tns:remove"/>
</operation>
<operation name="create">
<input wsam:Action="http://service/practicaExamenServiceSOAP/create" message="tns:create"/>
</operation>
<operation name="edit">
<input wsam:Action="http://service/practicaExamenServiceSOAP/edit" message="tns:edit"/>
</operation>
<operation name="encontrarJugadorPorID">
<input wsam:Action="http://service/practicaExamenServiceSOAP/encontrarJugadorPorIDRequest" message="tns:encontrarJugadorPorID"/>
<output wsam:Action="http://service/practicaExamenServiceSOAP/encontrarJugadorPorIDResponse" message="tns:encontrarJugadorPorIDResponse"/>
</operation>
<operation name="encontrarJugadores">
<input wsam:Action="http://service/practicaExamenServiceSOAP/encontrarJugadoresRequest" message="tns:encontrarJugadores"/>
<output wsam:Action="http://service/practicaExamenServiceSOAP/encontrarJugadoresResponse" message="tns:encontrarJugadoresResponse"/>
</operation>
<operation name="encontrarMaximoIDJugador">
<input wsam:Action="http://service/practicaExamenServiceSOAP/encontrarMaximoIDJugadorRequest" message="tns:encontrarMaximoIDJugador"/>
<output wsam:Action="http://service/practicaExamenServiceSOAP/encontrarMaximoIDJugadorResponse" message="tns:encontrarMaximoIDJugadorResponse"/>
</operation>
</portType>
<binding name="practicaExamenServiceSOAPPortBinding" type="tns:practicaExamenServiceSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="encontrarJugadorPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarJugadores">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encontrarMaximoIDJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="practicaExamenServiceSOAP">
<port name="practicaExamenServiceSOAPPort" binding="tns:practicaExamenServiceSOAPPortBinding">
<soap:address location="http://localhost:54747/practicaExamenSOAP-war/practicaExamenServiceSOAP"/>
</port>
</service>
</definitions>